In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# LOADIND RAW DATA
demo_raw=pd.read_csv("../data/HousingDB_post2010.csv")
homeless_raw=pd.read_csv("../data/DHS_Data_Dashboard.csv")

In [3]:
homeless_raw.head()

,Report Date,FWC Avg Daily census Individual in Shelter - Adults,FWC Avg Daily census Individual in Shelter - Children,FWC Avg Daily census Individual in Shelter - Total,AF Avg Daily census Individual in Shelter - Adults,SA Avg Daily census Individual in Shelter - Men,SA Avg Daily census Individual in Shelter - Women,SA Avg Daily census Individual in Shelter - Total,FWC Unique Individuals by Age - 0 thru 5,FWC Unique Individuals by Age - 6 thru 13,...,SA Race/Ethnicity HoH - Total Individuals,FWC - Number of School-Aged Children,FWC - Average School Attendance Rate,FWC - Percent of families successfully placed by youngest school-aged child's school address,"HOME-STAT clients placed into permanent housing, transitional housing, and other settings",Total Homebase Enrollments,fwc_total_shelter_placements,af_total_shelter_placements,sa_total_shelter_placements,sa_shelter_exits_into_supportive_housing
0,09/01/2023,"20,394.","33,210.","31,142.","4,650.","15,021.","4,779.","19,800.","15,287.","14,371.",...,"24,531.","25,347.",84%,62.%,1232,"2,048.",564.,49.0,667.0,140.0
1,08/01/2023,"19,739.","32,435.","29,317.","5,538.","16,233.","4,725.","20,958.","14,598.","13,790.",...,"26,676.","24,418.",NaN,59.67%,1198,"2,697.",619.,33.0,786.0,143.0
2,07/01/2023,"19,358.","32,018.","28,105.","6,170.","16,929.","4,732.","21,661.","13,683.","12,817.",...,"27,047.","22,880.",NaN,62.%,1033,"2,175.",598.,45.0,683.0,111.0
3,06/01/2023,"25,110.","27,126.","52,236.","6,397.","17,422.","4,668.","22,091.","13,307.","12,362.",...,"27,128.","20,554.",83%,61.%,"1,133","2,567.",529.,78.0,660.0,100.0
4,05/01/2023,"24,330.","26,347.","50,677.","6,440.","18,180.","4,645.","22,825.","13,221.","12,102.",...,"28,543.","20,354.",86%,60.%,"1,208","2,741.",564.,77.0,704.0,116.0

In [4]:
homeless_raw['Report Date'] = pd.to_datetime(
    homeless_raw['Report Date'],
    errors='coerce'
)

In [5]:
print("Homeless Raw - Report Date range:", homeless_raw['Report Date'].min(), "to", homeless_raw['Report Date'].max())

Homeless Raw - Report Date range: 2015-07-01 00:00:00 to 2025-03-01 00:00:00

In [6]:
demo_raw.keys()

Index(['Job_Number', 'Job_Type', 'ResidFlag', 'NonresFlag', 'Job_Status',
       'CompltYear', 'PermitYear', 'ClassAInit', 'ClassAProp', 'ClassANet',
       'HotelInit', 'HotelProp', 'OtherBInit', 'OtherBProp', 'Units_CO',
       'Boro', 'BIN', 'BBL', 'AddressNum', 'AddressSt', 'Occ_Init', 'Occ_Prop',
       'Bldg_Class', 'Job_Desc', 'DateFiled', 'DatePermit', 'DateLstUpd',
       'DateComplt', 'ZoningDst1', 'ZoningDst2', 'ZoningDst3', 'SpeclDst1',
       'SpeclDst2', 'Landmark', 'FloorsInit', 'FloorsProp', 'Enlargemnt',
       'Ownership', 'CenBlock20', 'CenTract20', 'BCTCB2020', 'BCT2020',
       'NTA2020', 'NTAName20', 'CDTA2020', 'CDTAName20', 'CommntyDst',
       'CouncilDst', 'SchSubDist', 'SchCommnty', 'SchElmntry', 'SchMiddle',
       'FireCmpany', 'FireBattln', 'FireDivsn', 'PolicePcnt', 'PL_FIRM07',
       'PL_PFIRM15', 'Latitude', 'Longitude', 'GeomSource', 'DCPEdited',
       'Version'],
      dtype='object')

In [7]:
homeless_raw.keys()

Index(['Report Date', 'FWC Avg Daily census Individual in Shelter - Adults',
       'FWC Avg Daily census Individual in Shelter - Children',
       'FWC Avg Daily census Individual in Shelter - Total',
       'AF Avg Daily census Individual in Shelter - Adults',
       'SA Avg Daily census Individual in Shelter - Men',
       'SA Avg Daily census Individual in Shelter - Women',
       'SA Avg Daily census Individual in Shelter - Total',
       'FWC Unique Individuals by Age - 0 thru 5',
       'FWC Unique Individuals by Age - 6 thru 13',
       'FWC Unique Individuals by Age - 14 thru 17',
       'FWC  Unique Individuals by Age- 18 thru 20',
       'FWC Unique Individuals by Age - 21 thru 29',
       'FWC Unique Individuals by Age - 30 thru 44',
       'FWC Unique Individuals by Age - 45 thru 64',
       'FWC Unique Individuals by Age - 65 and above',
       'FWC Unique Individuals by Age - Total',
       'AF Unique Individuals by Age - 18 thru 20',
       'AF Unique Individuals by Age - 21 thru 29',
       'AF Unique Individuals by Age - 30 thru 44',
       'AF Unique Individuals by Age - 45 thru 64',
       'AF Unique Individuals by Age - 65 and above',
       'AF Unique Individuals by Age - Total',
       'SA Unique Individuals by Age - 18 thru 29',
       'SA Unique Individuals by Age - 30 thru 44',
       'SA Unique Individuals by Age - 45 thru 64',
       'SA Unique Individuals by Age - 65 and above',
       'SA Unique Individuals by Age - Total',
       'FWC Race/Ethnicity HoH - Asian/Pacific Islander',
       'FWC Race/Ethnicity HoH - Black non-Hispanic',
       'FWC Race/Ethnicity HoH - Hispanic',
       'FWC Race/Ethnicity HoH - Native American',
       'FWC Race/Ethnicity HoH - White non-Hispanic',
       'FWC Race/Ethnicity HoH - Unknown',
       'FWC Race/Ethnicity HoH - Total Heads of Households',
       'AF Race/Ethnicity HoH - Asian/Pacific Islander',
       'AF Race/Ethnicity HoH - Black non-Hispanic',
       'AF Race/Ethnicity HoH - Hispanic',
       'AF Race/Ethnicity HoH - Native American',
       'AF Race/Ethnicity HoH - White non-Hispanic',
       'AF Race/Ethnicity HoH - Unknown',
       'AF Race/Ethnicity HoH - Total Heads of Households',
       'SA Race/Ethnicity HoH - Asian/Pacific Islander',
       'SA Race/Ethnicity HoH - Black non-Hispanic',
       'SA Race/Ethnicity HoH - Hispanic',
       'SA Race/Ethnicity HoH - Native American',
       'SA Race/Ethnicity HoH - White non-Hispanic',
       'SA Race/Ethnicity HoH - Unknown',
       'SA Race/Ethnicity HoH - Total Individuals',
       'FWC - Number of School-Aged Children',
       'FWC - Average School Attendance Rate',
       'FWC - Percent of families successfully placed by youngest school-aged child's school address',
       'HOME-STAT clients placed into permanent housing, transitional housing, and other settings',
       'Total Homebase Enrollments', 'fwc_total_shelter_placements',
       'af_total_shelter_placements', 'sa_total_shelter_placements',
       'sa_shelter_exits_into_supportive_housing'],
      dtype='object')

In [8]:
demo_raw['Ownership'].unique()

array(['Private For-Profit: Individual',
       'Private For-Profit: Partnership', 'Private Non-Profit: Other ',
       'Private For-Profit: Corporation', 'Private For-Profit: Other',
       'Government, City: HPD', 'Private Non-Profit: Corporation',
       'Private Non-Profit: Individual', 'Government, City: Partnership',
       'Government, City: City Agency',
       'Government, Unspecified: Government Agency',
       'Private Non-Profit: Partnership',
       'Private For-Profit: Condo/Co-Op', 'Government, City: NYCHA/HHC',
       'Government, City: Corporation', nan,
       'Private Non-Profit: Unspecified', 'Government, City: Individual',
       'Government, City: Other', 'Government, City: NYCHA',
       'Government, City: HHC', 'Private Non-Profit: Condo/Co-Op',
       'Government, City: DCAS', 'Private For-Profit: Unspecified',
       'Government, State: NY State', 'Government, City: SCA',
       'Government, City: Unspecified', 'Government, City: DOE'],
      dtype=object)

# Filtered Datasets Specifications & Processing

## 1. Demolition Data (DCP Housing Dataset)

### Required Fields
- **Job_Number**
- **Job_Type**
  - Keep only: *Demolition*, *New Building*
- **DateFiled** and **DateComplt**
  - Must be valid dates and fall between **01/01/2016 – 12/31/2024**
- **Borough (Boro)**
- **Ownership Type (`Ownership`)**
  - Clean string values (`strip()` whitespace)
  - Aggregate **government** and **non-profit** ownership as a proxy for *subsidized / affordable housing*
  - Classify **private for-profit** ownership as *non-affordable housing*

### Filtering Criteria (applied before feature engineering)
- **Job_Status** = *5. Completed Construction*
- **ResidFlag** = *Residential*
- **NonresFlag** = null / missing
- Remove records with missing **DateFiled**, **DateComplt**, or **Ownership**

### Feature Engineering
- **Time to Completion (`demo_duration_days`)**
  - Calculated as: `DateComplt - DateFiled` (in days)
  - Remove negative durations
- **Monthly Aggregation Date (`MonthDate`)**
  - Convert `DateComplt` to the first day of the month for easy aggregation
  - Implemented via:
    ```python
    demo_eda['MonthDate'] = demo_eda['DateComplt'].values.astype('datetime64[M]')
    ```
- **Housing Affordability Proxy (`housing_affordability_proxy`)**
  - Categorizes ownership into:
    - `Affordable (Public / Non-Profit)`
    - `Non-Affordable (Private For-Profit)`
    - `Unknown` for uncategorized ownership

### Final Columns to Keep
Job_Number,
Job_Type,
MonthDate,
DateFiled,
DateComplt,
Boro,
ownership_clean,
housing_affordability_proxy,
demo_duration_days


---

## 2. Homelessness Data (DHS Dataset)

### Required Fields
- **Report Date**
  - Must be valid and fall between **01/01/2016 – 12/31/2024**
  - Already monthly aggregated
- **Shelter Count**
  - Original column: `FWC Unique Individuals by Age – Total`
  - Renamed to `shelter_count`

### Filtering & Cleaning
- Remove records with missing **Report Date**
- Ensure date is parsed as `datetime` (`pd.to_datetime`)
- Keep only relevant columns

### Final Columns to Keep
Report Date,
shelter_count


---

## 3. Standard Data Cleaning for Both Datasets
- Ensure **date fields** are parsed as `datetime`
- Remove **missing / NaN values** in all required fields (except `NonresFlag`)
- Strip whitespace from string fields (e.g., `Ownership`)
- Convert **numeric calculations** (like `demo_duration_days`) to appropriate numeric type

In [9]:
# ------------------------------------------------------------------
# 0. Create a working copy
# ------------------------------------------------------------------
demo_eda = demo_raw.copy()

# ------------------------------------------------------------------
# 1. Ensure proper data types
# ------------------------------------------------------------------
demo_eda['DateFiled'] = pd.to_datetime(demo_eda['DateFiled'], errors='coerce')
demo_eda['DateComplt'] = pd.to_datetime(demo_eda['DateComplt'], errors='coerce')

# ------------------------------------------------------------------
# 2. Apply filtering criteria
# ------------------------------------------------------------------
demo_eda = demo_eda[
    (demo_eda['Job_Type'].isin(['New Building', 'Demolition'])) &
    (demo_eda['Job_Status'] == '5. Completed Construction') &
    (demo_eda['ResidFlag'] == 'Residential') &
    (demo_eda['NonresFlag'].isna()) &
    (demo_eda['DateFiled'].notna()) &
    (demo_eda['DateComplt'].notna()) &
    (demo_eda['DateComplt'].dt.year.between(2016, 2024))
]

# ------------------------------------------------------------------
# 3. Feature engineering: time to demolition completion & 
#    Aggregating date of completion to first of month
# ------------------------------------------------------------------
demo_eda['time_of_completion'] = (
    demo_eda['DateComplt'] - demo_eda['DateFiled']
).dt.days

# Remove invalid durations
demo_eda = demo_eda[demo_eda['time_of_completion'] >= 0]

# Creating a new column with the first day of the month
demo_eda['MonthDate'] = demo_eda['DateComplt'].values.astype('datetime64[M]')

# ------------------------------------------------------------------
# 4. Ownership cleaning
#    - Preserve all ownership categories
#    - Remove blanks / NaNs
# ------------------------------------------------------------------
demo_eda = demo_eda[demo_eda['Ownership'].notna()]

demo_eda['ownership_clean'] = demo_eda['Ownership'].str.strip()

# ------------------------------------------------------------------
# 5. Affordability proxy feature
# ------------------------------------------------------------------
public_ownership = [
    'Government, City: HPD',
    'Government, City: Partnership',
    'Government, City: City Agency',
    'Government, Unspecified: Government Agency',
    'Government, City: NYCHA/HHC',
    'Government, City: Corporation',
    'Government, City: Individual',
    'Government, City: Other',
    'Government, City: NYCHA',
    'Government, City: HHC',
    'Government, City: DCAS',
    'Government, State: NY State',
    'Government, City: SCA',
    'Government, City: Unspecified',
    'Government, City: DOE'
]

nonprofit_ownership = [
    'Private Non-Profit: Other ',
    'Private Non-Profit: Corporation',
    'Private Non-Profit: Individual',
    'Private Non-Profit: Partnership',
    'Private Non-Profit: Condo/Co-Op',
    'Private Non-Profit: Unspecified'
]

forprofit_ownership = [
    'Private For-Profit: Individual',
    'Private For-Profit: Partnership',
    'Private For-Profit: Corporation',
    'Private For-Profit: Other',
    'Private For-Profit: Condo/Co-Op',
    'Private For-Profit: Unspecified'
]

def classify_affordability(owner):
    if owner in public_ownership or owner in nonprofit_ownership:
        return 'Affordable (Government / Non-Profit)'
    elif owner in forprofit_ownership:
        return 'Non-Affordable (Private For-Profit)'
    else:
        return 'Unknown'

demo_eda['housing_affordability_proxy'] = (
    demo_eda['ownership_clean']
    .apply(classify_affordability)
)

# ------------------------------------------------------------------
# 6. Keep EDA-relevant fields
# ------------------------------------------------------------------
demo_eda = demo_eda[
    [
        'Job_Number',
        'Job_Type',
        'MonthDate',
        'DateFiled',
        'DateComplt',
        'Boro',
        'ownership_clean',
        'housing_affordability_proxy',
        'time_of_completion'
    ]
]

# ============================================================
# HOMELESSNESS DATA (DHS) — EDA PIPELINE
# Dataset name: homeless_raw
# ============================================================

# ------------------------------------------------------------------
# 1. Create a working copy
# ------------------------------------------------------------------
homeless_eda = homeless_raw.copy()

# ------------------------------------------------------------------
# 2. Ensure proper data types
# ------------------------------------------------------------------
homeless_eda['Report Date'] = pd.to_datetime(
    homeless_eda['Report Date'],
    errors='coerce'
)

# ------------------------------------------------------------------
# 3. Filter to study period (already monthly aggregated)
# ------------------------------------------------------------------
homeless_eda = homeless_eda[
    (homeless_eda['Report Date'].notna()) &
    (homeless_eda['Report Date'].dt.year.between(2016, 2024))
]

# ------------------------------------------------------------------
# 4. Keep and rename core field
# ------------------------------------------------------------------
homeless_eda = homeless_eda[
    ['Report Date', 'FWC Unique Individuals by Age - Total']
].rename(
    columns={'FWC Unique Individuals by Age - Total': 'shelter_count'}
)

# ------------------------------------------------------------------
# 5. Keeping EDA-relevant fields
# ------------------------------------------------------------------

homeless_eda = homeless_eda[
    [
    'Report Date',
    'shelter_count'
    ]
]

# ============================================================
# FINAL EDA DATASETS
# ============================================================

# demo_eda         → building-level demolition data
# homeless_eda     → monthly shelter population (already aggregated)

/var/folders/3y/ldxff8k17wjcyzkq19xw1srm0000gn/T/ipykernel_26500/4273753244.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  demo_eda['DateFiled'] = pd.to_datetime(demo_eda['DateFiled'], errors='coerce')
/var/folders/3y/ldxff8k17wjcyzkq19xw1srm0000gn/T/ipykernel_26500/4273753244.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  demo_eda['DateComplt'] = pd.to_datetime(demo_eda['DateComplt'], errors='coerce')

In [10]:
demo_eda.shape
demo_eda.info()
demo_eda.head()

<class 'pandas.core.frame.DataFrame'>
Index: 18428 entries, 0 to 79687
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job_Number                   18428 non-null  object
 1   Job_Type                     18428 non-null  object
 2   MonthDate                    18428 non-null  datetime64[s]
 3   DateFiled                    18428 non-null  datetime64[ns]
 4   DateComplt                   18428 non-null  datetime64[ns]
 5   Boro                         18428 non-null  int64
 6   ownership_clean              18428 non-null  object
 7   housing_affordability_proxy  18428 non-null  object
 8   time_of_completion           18428 non-null  int64
dtypes: datetime64[ns](2), datetime64[s](1), int64(2), object(4)
memory usage: 1.4+ MB

,Job_Number,Job_Type,MonthDate,DateFiled,DateComplt,Boro,ownership_clean,housing_affordability_proxy,time_of_completion
0,220357655,New Building,2016-06-01,2014-03-17,2016-06-23,2,Private For-Profit: Individual,Non-Affordable (Private For-Profit),829
1,220357664,New Building,2016-08-01,2014-03-17,2016-08-17,2,Private For-Profit: Individual,Non-Affordable (Private For-Profit),884
3,220359270,New Building,2019-05-01,2014-02-27,2019-05-01,2,Private For-Profit: Individual,Non-Affordable (Private For-Profit),1889
4,220359289,New Building,2019-10-01,2014-02-27,2019-10-24,2,Private For-Profit: Individual,Non-Affordable (Private For-Profit),2065
7,220359948,New Building,2016-11-01,2014-02-24,2016-11-18,2,Private For-Profit: Individual,Non-Affordable (Private For-Profit),998

In [11]:
print("Demo EDA - DateComplt range:", demo_eda['DateComplt'].min(), "to", demo_eda['DateComplt'].max())

Demo EDA - DateComplt range: 2016-01-02 00:00:00 to 2024-12-31 00:00:00

In [12]:
# removing periods and commas from shelter_count and convering to integer
homeless_eda['shelter_count'] = homeless_eda['shelter_count'].str.replace('.','').str.replace(',','').astype(int)

homeless_eda.shape
homeless_eda.info()
homeless_eda.head()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 0 to 120
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Report Date    112 non-null    datetime64[ns]
 1   shelter_count  112 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.6 KB

  Report Date  shelter_count
0  2023-09-01          65757
1  2023-08-01          62933
2  2023-07-01          58691
3  2023-06-01          49274
4  2023-05-01          49274

In [13]:
print("Homeless EDA - Report Date range:", homeless_eda['Report Date'].min(), "to", homeless_eda['Report Date'].max())

Homeless EDA - Report Date range: 2016-01-01 00:00:00 to 2024-12-01 00:00:00

# CREATING FACT / DIM TABLE FOR STAR SCHEMA

In [14]:
# OWNERSHIP COLUMN INTO DIMENSION TABLE
    # finding all unique values of ownership column, removing all characters outside of 'Government', 'Private Non-Profit', 'Private For-Profit'
unique_ownership = demo_eda['ownership_clean'].apply(lambda x: x.split(':')[0])
unique_ownership = unique_ownership.apply(lambda x: x.split(',')[0]).unique()
unique_ownership = pd.DataFrame({'Ownership_ID': [1,2,3], 'ownership_clean':unique_ownership})
    # creates a dataframe to merge with that has ownership ID and each unique type of ownership
unique_ownership

# JOB_TYPE COLUMN INTO DIMENSION TABLE
unique_jobtype = pd.DataFrame({'Job_TypeID': [1,2], 'Job_Type':demo_eda['Job_Type'].unique()})
    # dataframe to merge with Job_TypeID with each unique type of Job_Type
unique_jobtype

# MERGE BACK TO FACT TABLE
fact_demolitions = demo_eda[['Job_Number','Job_Type','ownership_clean','Boro','MonthDate','DateFiled','DateComplt','time_of_completion']]
fact_demolitions['ownership_clean'] = fact_demolitions['ownership_clean'].apply(lambda x: x.split(':')[0])
fact_demolitions['ownership_clean'] = fact_demolitions['ownership_clean'].apply(lambda x: x.split(',')[0])
fact_demolitions = fact_demolitions.merge(unique_ownership[['Ownership_ID','ownership_clean']],on='ownership_clean',how='left')
fact_demolitions = fact_demolitions.merge(unique_jobtype[['Job_TypeID','Job_Type']], on='Job_Type',how='left')
fact_demolitions = fact_demolitions.drop(columns={'ownership_clean','Job_Type'},axis=1)

# MAPPING 'Boro' COLUMN TO ITS BOROUGH CODE ON DATA DICTIONARY
boromap = {1:'Manhattan',2:'Bronx',3:'Brooklyn',4:'Queens',5:'Staten Island'}
fact_demolitions['Boro'] = fact_demolitions['Boro'].map(boromap)
# quick clean to make all headers lowercase
#fact_demolitions.columns = map(str.lower, fact_demolitions.columns)

fact_demolitions = fact_demolitions[['MonthDate','Job_Number','Job_TypeID','Ownership_ID','Boro','DateFiled','DateComplt','time_of_completion']]

# all of the tables for the SQL, two dim, two fact
display(fact_demolitions.head(),unique_ownership.head(),unique_jobtype.head(), homeless_eda.head())

unique_jobtype.to_csv("../data/processed/dim_jobtype.csv",index=False)
unique_ownership.to_csv("../data/processed/dim_ownership.csv",index=False)
fact_demolitions.to_csv("../data/processed/fact_demolitions.csv",index=False)
homeless_eda.to_csv("../data/processed/fact_shelter.csv",index=False)

/var/folders/3y/ldxff8k17wjcyzkq19xw1srm0000gn/T/ipykernel_26500/2973136634.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_demolitions['ownership_clean'] = fact_demolitions['ownership_clean'].apply(lambda x: x.split(':')[0])
/var/folders/3y/ldxff8k17wjcyzkq19xw1srm0000gn/T/ipykernel_26500/2973136634.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_demolitions['ownership_clean'] = fact_demolitions['ownership_clean'].apply(lambda x: x.split(',')[0])

,MonthDate,Job_Number,Job_TypeID,Ownership_ID,Boro,DateFiled,DateComplt,time_of_completion
0,2016-06-01,220357655,1,1,Bronx,2014-03-17,2016-06-23,829
1,2016-08-01,220357664,1,1,Bronx,2014-03-17,2016-08-17,884
2,2019-05-01,220359270,1,1,Bronx,2014-02-27,2019-05-01,1889
3,2019-10-01,220359289,1,1,Bronx,2014-02-27,2019-10-24,2065
4,2016-11-01,220359948,1,1,Bronx,2014-02-24,2016-11-18,998

   Ownership_ID     ownership_clean
0             1  Private For-Profit
1             2  Private Non-Profit
2             3          Government

   Job_TypeID      Job_Type
0           1  New Building
1           2    Demolition

  Report Date  shelter_count
0  2023-09-01          65757
1  2023-08-01          62933
2  2023-07-01          58691
3  2023-06-01          49274
4  2023-05-01          49274

In [16]:
# CONNECTING TO DATABASE AND IMPORTING DATA
import sqlite3

conn = sqlite3.connect('../data/processed/nyc_demolitions.db')

# LOADING CSV DATA
unique_jobtype.to_sql('dim_jobtype', conn, if_exists='replace',index=False)
unique_ownership.to_sql('dim_ownership', conn, if_exists='replace',index=False)
fact_demolitions.to_sql('fact_demolitions', conn, if_exists='replace',index=False)
homeless_eda.to_sql('fact_shelters', conn, if_exists='replace',index=False)

conn.close()